body {
    background:url("pics/bg_noface.jpg") center top fixed;
    height: 5500px;
    background-size: 100%;
    margin:0 auto;
    width: 100%;
    position: relative;
}

#faceSpace{
    width:100%;
    position:fixed;
    top:0;
    height:70%;
    z-index:-1;
}

#faceSpace .lface{
    position:absolute;
    left:0;
    opacity:0.0;
}

#faceSpace .rface{
    position:absolute;
    right:0;
    opacity:0.0;
}

#faceSpace #leftFace{
    position:fixed;
    left:0;
    width:30%;
    height:100%;
    background-image:url("pics/diamond_face_L.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#faceSpace #rightFace{
    position:fixed;
    right:0;
    width:30%;
    height:100%;
    background-image:url("pics/diamond_face.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#topbar{
    background: grey;
    height: 20px;
    margin: 0;
    opacity: 0.5;
}

#banner {
    text-align: center;
    margin: 20px auto 15px auto; 
}
 
#banner #line1{
    font-size: 25px;
    font-family: "Tahoma";
    letter-spacing: 20px;
    color: #9AAFAF;
    text-shadow: 1px 1px 10px #000;
    margin-bottom:40px;
}

#banner #line2 {
    
}

#intro #line6 {
    color: #710a05;
    text-align:center;
}

nav {
    margin-top: 2.5em;
}

nav a {
    padding: 1.5em;
    background-position:center center;
    background-repeat:no-repeat;
    text-decoration: none;
    color:#9AAFAF;
    font-family:'Lucida Console';
    font-size:30px;
    text-shadow: 1px 1px 10px #000;
    transition:0.8s;
}

nav a:hover, a:focus, a:active{
    color: white;
}

#introImg{
    height: 450px;
    position:relative;
}

#dynamicWords{
    max-width: 1px;
    height:150px;
    margin: 100px auto;
}

#dynamicWords #img1{
    position:relative;
    left:-400px;
}

#dynamicWords #img2{
    margin: 45px 0 0 0;
    position: relative; 
    left: -380px;
}

#introImg img {
    max-width: 100%;
    position: absolute;
    top: -4em;
    left: -8em;
}

#intro {
    float:left;
    font-family:Tahoma;
    font-size: 80px;
    padding: 0;
    width: 525px;    
}

#intro #line1{
    color:#222D2D;
    margin:0 0 0px 0;
}

#intro #line5 {
    font-size: 60px;
    float: left;
    -moz-transform: rotate(-90deg);
    color: #185675;
    text-align: center;
    margin: 50px -50px 0px -30px;
    padding: 0;
    color: #000000;
    z-index:-1;
}

#intro #line2{
    color: #185675;
    margin:0 0 -50px 0;
}

#intro #line3{
    color:#9AAFAF;
    margin:0 0 30px 0;
}

#intro #line4{
    color:#FFFFFF;
}

#space {
    float:left;
    height:200px;
    background:blue;
    width: 100px;
}

#footer{
    bottom: 0;
    position: absolute;
    height: 20px;
    width: 100%;
    background:grey;
    opacity:0.5;
}

.info{
    background:rgba(210, 170, 91, 0.75);
    margin: 0 auto;
    text-align:center;
    color: white;
    text-shadow: 1px 1px 10px #333;
    max-width:100%;
}

.info #h1{
    padding: .3em;
    margin: 0;
}

.mid{
    height:620px;
    margin:0 auto;
    background: #185675;
    text-align:center;
}

#spacer1{
    max-width:100%;
    height:0px;
}

#infoSec1{
    height:700px;
    text-align: center;
    font-size:20px;
    font-family:'Lucida Console';
    
}



#infoSec1 #pic{
    float: left;
    width: 600px;
    height:600px;
    /*background: navajowhite;*/
}

#infoSec1 #content{
    float:left;
    width: 540px;
    height:270px;
    padding:30px 30px 0 30px;
    /* background: red;*/
}

#spacer2{
    max-width:100%;
    text-align: center;
    height:400px;
}

#spacer2 img{
    position:relative;
    top: 30%;
}

#infoSec2{
    height:700px;
    text-align: center;
    font-size:20px;
    font-family:'Lucida Console';
}

.box {
    position: relative;
    width: 1200px;
    height: 620px;
    margin: 0 auto;
    border: solid;
    display: table;
}

#title {
    float:left;
    /*height:100px;*/
    width:100%;
    background: red;
    display: table-row;
}

.row{
    display: table-row;
    /*height: 35%*/
}

#row1{
    position: absolute;
    left: 11%;
}

#row2 {
    position: absolute;
    top:57%;
    left: 24%;
}

.row div {
    width: 215px;
    height: 215px;
    border: solid;
    float: left;
    margin: 10px 40px;
    padding: 5px;
}

#General {
   
}

#Cleaning {

}

#Office {
}

#Errands {
    
}

#Roadside {
    
}
#spacer3{
    max-width:100%;
    height:200px;
}

#spacer3 img{
    position:relative;
    top: 30%;
    padding-bottom:75px;
}

#infoSec3{
    height:700px;
}

#infoSec3 #content form input{
   width:800px;
   /*text-align: center;*/
}

#requestBox{
    float: left;
    margin:40px 40px 0px 0px;
}

#requestForm{
    float: left;
    margin:40px 0px 0px 0px;
    text-align: left;
}

#nameForm{
    width:200px;
}

#contactForm{
    width: 200px;
}

#addressForm{
    width: 200px;
    height: 40px;
}
#spacer4{
    max-width:100%;
    height:550px;
}

#infoSec4{
    height:700px;
    
}